* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  box-shadow: 0 0 10px black;
  background-color: #4e4e4e;
  padding: 30px;
  margin-bottom: 50px;
}

.sub {
  font-weight: 500;
}

.pts, .alert {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  background-color: #4e4e4e;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  font-weight: 500;
  box-shadow: 0 0 10px black;
  margin-top: 50px;
}

.cont {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4e4e4e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  gap: 10px;
  transition: 0.2s all;
}

.pic {
  background-color: #818181;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  width: 150px;
}

.item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.name {
  font-weight: 500;
  background-color: #818181;
  padding: 3px;
  border-radius: 10px;
  width: 150px;
  box-shadow: 0 0 7px black;
  text-align: center;
}

.alert {
  margin-top: 20px;
  transition: opacity 0.4s ease;
  opacity: 0;
}

.alert.show {
  opacity: 1;
}